{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-white-50">Кораби</h5>
                    <h2 class="display-5 fw-bold">{{ stats.ships }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-white-50">Инспекции</h5>
                    <h2 class="display-5 fw-bold">{{ stats.inspections }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-white-50">Билети</h5>
                    <h2 class="display-5 fw-bold">{{ stats.tickets }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-white-50">Глоби (Актове)</h5>
                    <h2 class="display-5 fw-bold">{{ stats.fines }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}