{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Регистрация</h2>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Потребителско име</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Парола</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Регистрация</button>

        <a href="/" class="btn btn-secondary w-100 mt-2">Назад</a>
    </form>
</div>
{% endblock %}